# Vivado temporary output files and caches
.Xil/
*.jou
*.log
*.str
*.backup.log
*.backup.jou
vivado_project/*.cache/
vivado_project/*.hw/
vivado_project/*.ip_user_files/
vivado_project/*.sim/
vivado_project/*.runs/
