# Vivado temporary output files and caches
.Xil/
*.jou
*.log
*.str
*.pb
*.wdb
xsim.dir/
vivado_project/*.cache/
vivado_project/*.hw/
vivado_project/*.ip_user_files/
vivado_project/*.sim/
vivado_project/*.runs/
vivado/*.cache/
vivado/*.hw/
vivado/*.ip_user_files/
vivado/*.sim/
vivado/*.runs/
*.dcp
dfx_runtime.txt

# LaTeX build files
*.aux
*.out
*.toc

# Simulation artifacts
sim_*
*.vcd
*.vvp
